<!Doctype html>
<html class="h-100 " xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/bootstrap.html}"/>
<script>
    function redirect(event) {
        event.preventDefault();
        window.location.href = "/register"
    }

</script>

<body class="h-100" style="background: lightgray">
<div class="d-flex justify-content-center h-100  align-items-center">
    <div class="col-3 row"
         style="border-radius: 5px; border: 1px solid gray; box-shadow: 5px 5px 5px darkgray; background: white">

        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}" class="alert alert-danger alert-dismissible  m-2 text-center">
                <strong>Error!</strong> <label>Ошибка авторизации</label>
            </div>
            <div class="col-12 p-2 pb-1 mt-2">
                <input name="username" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="col-12 p-2 pt-1">
                <input name="password" type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="col-12 p-2 pb-1">
            <button type="submit" class="btn btn-secondary col-12">Sign In</button>
            </div>
            <div class="col-12 p-2 mb-1 pt-1">
                <button  href="/register" onclick="redirect(event)" class="btn btn-dark col-12">Register</button>
            </div>
        </form>

    </div>
</div>

</body>
</html>